.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  margin-top: 120px;

  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p {
  color: black;
  font-size: 18px;
  display: inline;
}

.progressbar {
  display: inline-block;
  width: 194px;
  height: 16px;
  border: 1px solid #000;
}

.fillbar {
  width: 100%;
  background-color: #61dafb;
}

.container {
  background-color: #fff;
  border: 1px solid #000;
  height: 16px;
  width: 194px;
}

.status {
  background-color: #BCBCDA;
  height: 16px;
}

.aurament_logo {
  margin-top: 100px;
  width: 200px;
}
